<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member</title>
</head>
<body>
<div th:if="${insert > 0}">
    <span><h1 th:text="${userid}"></h1><h3>등록완료</h3></span>
</div>
<form method="GET" action="/member/memberMain">
<div>
    <input type="submit" value="메인이동">
</div>
</form>
</body>
</html>