<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:if="${userid != null}">
    <span><h1 th:text="${userid}"></h1><h3>로그인 성공</h3></span>
</div>
</body>
</html>